@font-face {
  font-family: "InterTight";
  font-style: normal;
  src:
    url("../fonts/AnyConv.com__InterTight-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/AnyConv.com__InterTight-VariableFont_wght.woff") format("woff"),
    url("../fonts/AnyConv.com__InterTight-VariableFont_wght.eot") format("eot");
}