body {
  margin: 0;
  padding: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.header__top__background {
  width: 100%;
  height: 49px;
  background-color: #edf0f2;
}

.header__top__addres,
.support__button {
  display: flex;
  align-items: center;
}

.addres__logo {
  margin-right: 10px;
}

.support__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.support__icon {
  margin-right: 10px;
}
