body {
  margin: 0;
  padding: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.header__top__background {
  width: 100%;
  height: 49px;
  background-color: #edf0f2;
}

.header__top__addres,
.support__button {
  display: flex;
  align-items: center;
}

.addres__logo {
  margin-right: 10px;
}

.support__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.support__icon {
  margin-right: 10px;
}

.header__top, .support__button {
  color: #667085;
  font-family: "InterTight", sans-serif;
  font-size: 16px;
}

.header__navbar__top {
  display: flex;
  justify-content: space-between;
  max-width: 1450px;
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

.button__categories {
  background-color: #F8AD40;
  color: #272C36;
  border-radius: 8px;
  padding: 13.5px 12px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: "InterTight", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.button__categories svg {
  margin-right: 5px;
}

.search__input {
  width: 100%;
  padding: 14px 10px 13px 40px;
  border-radius: 8px;
  background-color: #EDF0F2;
  display: flex;
  align-items: center;
  font-family: "InterTight", sans-serif;
  color: #667085;
  font-size: 17px;
  position: relative;
  border: none;
  outline: none;
  z-index: -1;
}

.search__input:focus {
  outline: 2px solid #F8AD40;
}

.search__input__parrent {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 710px;
}

.search__input__parrent svg {
  position: absolute;
  left: 10px;
}

.header__button {
  border: 1px solid #DCE0E5;
  outline: none;
  background: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-family: "InterTight", sans-serif;
  font-weight: bold;
  font-size: 15px;
  gap: 5px;
  cursor: pointer;
}

.header__navbar__bottom__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 462.3px;
  margin: 0 auto;
}

.header__navbar__bottom__button {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: "InterTight", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  height: 43px;
  position: relative;
}

.header__navbar__bottom__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 2px;
  transition: all .6s;

}

.header__navbar__bottom__button:hover::after {
  width: 100%;
  background-color: #f8ad40;
  left: 0;
}

.header__navbar__bottom__button svg {
  margin-right: 5px;
}

.logInTitle {
  margin: 0;
}

.signInModal {
  position: fixed;
  top: 130px;
  right: 12.5%;
  width: 340px;
  height: 389px;
  font-family: "InterTight", sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: red;
  padding: 20px 20px 25px;
}